@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "layout/grid";
@import "layout/footer";
@import "layout/header";

@import "pages/home";