*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this decides what 1rem is (10px)
    font-size: 62.5%;


    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 8px 
    }
    
    @include respond(tab-port) {
        font-size: 50%;  // 1rem = 8px 
    }
    
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    
    @include respond(tab-port) {
        padding: 0;
    }
}